{% extends 'base.html' %}

{% block title %}Projektek{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <div class="row">
        <div class="col-sm-4">
            <h1>Projektek</h1>
        </div>
        <div class="col-sm-8">
            <div class="float-end">
                <div class="alert-danger alert" role="alert">
                    <h5>ADMIN Oldal</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Projektek szerkesztése</h2>
        </div>
        <div class="col-sm-8">
            <div class="float-end">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="form1" placeholder="Felhasználói név" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="userprojects">
        {% for p in projects %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#userproject{{ p.id }}" aria-expanded="true" aria-controls="userproject{{ p.id }}">
                        <i class="bi bi-justify"></i> {{ p.owner.username }}/{{ p.title }}
                    </button>
                    <div class="float-right">
                        <a href="{% url 'details' p.id %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></a>
                    </div>
                </div>
                <div id="userproject{{ p.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#userprojects">
                    <div class="card-body" id="usercontent{{ p.id }}">
                        markdown content
                    </div>
                </div>
            </div>
        {% empty %}
            nincs
        {% endfor %}
    </div>
    <h2>Projekt létrehozása</h2>
    <form action="{% url 'adminprojects' %}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="id_title">Projekt neve:</label>
            <div class="col-md-4">
                <input type="text" name="title" class="form-control" maxlength="100" required="" id="id_title" placeholder="Cím">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="id_owner">Tulajdonos:</label>
            <div class="col-md-4">
                <input type="text" name="owner" class="form-control" maxlength="100" required="" id="id_owner" placeholder="Tulajdonos">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="id_partners">Partnerek:</label>
            <div class="col-md-4">
                <input type="text" name="partners" class="form-control" maxlength="100" required="" aria-describedby="partner_help" id="id_partners" placeholder="Partnerek">
                <small id="partner_help" class="form-text text-muted">Felhasználók felsorolása vesszővel: </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="id_description" class="col-md-1 col-form-label">Leírás:</label>
            <div class="col-md-4">
                <textarea name="description" class="form-control" cols="40" rows="10" maxlength="1000" aria-describedby="help" required="" id="id_description" placeholder="Leírás"># H1
## h2
* felsorolás 1
* felsorolás 2
*dőlt* sima **vastag**

bekezdés1 [link](https://google.com)</textarea>
                <small id="help" class="form-text text-muted">Markdown formázás használható: </small>
            </div>
            <div class="col-md-7">
                <div class="card bg-light mb-3">
                        <div class="card-header"><h5>Leírás előnézet</h5></div>
                    <div class="card-body">
                        <div id="preview"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="id_public" class="col-md-1 col-form-label">Publikus:</label>
            <div class="col-md-11">
                <input type="checkbox" name="public" aria-describedby="public_help"  id="id_public">
                <small id="public_help" class="form-text text-muted">A projekt megjelenik a kezdőlapon mindenki számára.</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-11">
                <input type="submit" value="Létrehozás" class="btn btn-primary">
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('#id_description').bind('input propertychange', function() {
                $('#preview').html(marked($('#id_description').val()))
            });
            $('#preview').html(marked($('#id_description').val()))
        })
        {% for p in projects %}
            document.getElementById('usercontent{{ p.id }}').innerHTML = marked('{{ p.description | escapejs }}');
        {% endfor %}
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }
        $( function() {
            var availableUsers = [
                {% for user in users %}
                    "{{user.username}}",
                {% endfor %}
            ];
            $( "#id_owner" ).autocomplete({
                minLength: 2,
                source: availableUsers,
                messages: {
                    noResults: '',
                    results: function(amount) {
                        return amount + ' találat'
                    }
                }
            });
            $( "#id_partners" ).autocomplete({
                minLength: 2,
                source: function( request, response ) {
                    // delegate back to autocomplete, but extract the last term
                    response( $.ui.autocomplete.filter(
                    availableUsers, extractLast( request.term ) ) );
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                messages: {
                    noResults: '',
                    results: function(amount) {
                        return amount + ' találat'
                    },
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = terms.join( ", " );
                    return false;
                }
            });
        });
        {% if form.is_bound %}
            $(window).on("load", goToId);
        {% endif %}
    </script>
{% endblock %}