{% extends 'base.html' %}

{% block title %}Projektek{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <h1>"{{ project.title }}" projekt</h1>

    <div class="card bg- mb-3">
        <div class="card-header"><h5>Adatok</h5></div>
        <div class="card-body">
            <div>
                <table>
                    <tr><th>Tulajdonos</th><td>
                        <a class="badge bg-success" style="font-size: 100%" href="{% url 'edituser' project.owner.id %}">
                        {{ project.owner }}</a>
                    </td></tr>
                    <tr><th>HPC felhasználó</th><td>
                        {% if project.system_user.issudo %}
                        <span class="badge bg-danger" style="font-size: 100%">
                            {{ project.system_user }}
                            <a class="text-primary" href="{% url 'details' project.id %}"><i class="bi bi-kanban"></i></a>
                        </span>
                    {% else %}
                        <span class="badge bg-warning text-dark" style="font-size: 100%">
                            {{ project.system_user }}
                            <a class="text-primary" href="{% url 'details' project.id %}"><i class="bi bi-kanban"></i></a>
                        </span>
                    {% endif %}
                    </td></tr>
                    <tr><th>Publikus</th><td>{{ project.public }}</td></tr>
                    <tr><th>Partnerek</th><td>
                        {% for partner in partners %}
                            <a href="{% url 'edituser' partner.id %}" class="badge bg-primary" style="font-size: 100%">
                                {{ partner.username }}
                            </a>
                        {% endfor %}
                    </td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-header"><h5>Leírás</h5></div>
        <div class="card-body">
            <div id="description">content</div>
        </div>
    </div>

    {% if user == project.owner or user.is_superuser %}
        <div class="row">
        <div class="col-sm-4">
            <h2>Projekt szerkesztése</h2>
        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                <div class="float-end">
                        {% if project.public %}
                            <a href="{% url 'set_public' project.id %}"><button type="button" class="btn btn-warning">Publikus <i class="bi bi-check-square"></i></button></a>
                        {% else %}
                            <a href="{% url 'set_public' project.id %}"><button type="button" class="btn btn-success">Publikus <i class="bi bi-square"></i></button></a>
                        {% endif %}
                        <button type="button" class="btn btn-danger m-2" data-toggle="modal" data-target="#deleteModal">
                            <i class="bi bi-trash"></i>
                        </button>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#help">
                        <i class="bi bi-question-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
        <h4>Partner felhasználó kezelése</h4>
        <form action="{% url 'details' project.id %}" method="post" id="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class='list-group py-3'>
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                 </ul>
            {% endif %}
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="user" class="sr-only">Partner felhasználói neve:</label>
                    <input class="form-control autocomplete" id="user" type="text" name="user" placeholder="Felhasználói név">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="submit" value="Felvétel" class="btn btn-primary">
                </div>
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Kezdje el gépelni a felhasználó nevét, majd a szűrt listából válassza ki a megfelelőt.
            </small>
        </form>
        <h4>Partner eltávolítása a projektből</h4>
        <div class="card-columns">
            {% for p in partners %}
                <div class="card">
                    <div class="card-header container-fluid">
                        <div class="row">
                            <div class="col-9">
                                <h5>{{ p.username }}</h5>
                            </div>
                            <div class="col-3">
                                <div class="float-end">
                                    <a href="{% url 'deletepartner' project.id p.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        Email: {{ p.email }}
                    </div>
                </div>
            {% empty %}
                <p><i>Nincs partnere ennek a projektnek.</i></p>
            {% endfor %}
        </div>
        <h4>Leírás szerkesztése</h4>
        <form method="post" action="{% url 'edit_project_desc' project.id %}" method="post" id="form">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-md-4">
                    <textarea name="description" class="form-control" cols="40" rows="10" maxlength="1000" aria-describedby="desc-help" required="" id="id_description" placeholder="Leírás"># H1
## h2
* felsorolás 1
* felsorolás 2
*dőlt* sima **vastag**

bekezdés1 [link](https://google.com)</textarea>
                    <small id="desc-help" class="form-text text-muted">Markdown formázás használható. </small>
                    <div class="form-group row">
                        <div class="col-md-11">
                            <input type="submit" value="Módosítás" class="btn btn-primary">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card bg-light mb-3">
                        <div class="card-header"><h5>Leírás előnézet</h5></div>
                        <div class="card-body">
                            <div id="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">A "{{ project.title }}" projekt törlése</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        A projekt végleges törlésre kerül!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                        <a href="{% url 'deleteproject' project.id %}"><button type="button" class="btn btn-danger">Törlés</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModalTitle">Használat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" style="text-align: justify">
                            Az oldalon új partnereket lehet hozzáadni a projekthez, így ezen felhasználók is a projekthez társított rendszerfelhasználói név alatt be tudnak jelentkezni a központi gépre. Továbbá a leírás szerkeszthető és egyéb tulajdonságok is beállíthatóak.
                            <br>
                            Ha a projekt törlésre kerül, akkor a partner webes felhasználók már nem tudnak a projekthez tartozó linux felhasználói név alatt bejelentkezni. Ugyanakkor a projekt (volt) tulajdonosa továbbra is hozzá lesz rendelve a törölt projekthez tartozó linux felhasználóhoz.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item border-top"><button type="button" class="btn btn-warning me-3">Publikus <i class="bi bi-check-square"></i></button>A projekt nem lesz publikus (most az)</li>
                            <li class="list-group-item border-top"><button type="button" class="btn btn-success me-3">Publikus <i class="bi bi-square"></i></button>A projekt publikus lesz (most nem az)</li>
                            <li class="list-group-item border-top"><button type="button" class="btn btn-danger me-3"><i class="bi bi-trash"></i></button>Projekt törlése</li>
                            <li class="list-group-item border-top"><button type="button" class="btn btn-danger me-3"><i class="bi bi-box-arrow-right"></i></button>Partner eltávolítása</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $( function() {
                var availableUsers = [
                    {% for user in users %}
                        "{{user.username}}",
                    {% endfor %}
                ];
                $( "#user" ).autocomplete({
                    minLength: 2,
                    source: availableUsers,
                    messages: {
                        noResults: '',
                        results: function(amount) {
                            return amount + ' találat'
                        }
                    }
                });
            });
        </script>
    {% endif %}
    <script>
            $(document).ready(function () {
            $('#id_description').bind('input propertychange', function() {
                $('#preview').html(marked.parse($('#id_description').val()))
            });
                $('#preview').html(marked.parse($('#id_description').val()))
            })
            document.getElementById('description').innerHTML = marked.parse('{{ project.description | escapejs }}');
            {% if form.is_bound %}
                $(window).on("load", goToId);
            {% endif %}
    </script>
{% endblock %}