{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block navbar %}
    <nav class="nav" style="background-color: white; padding: 10px;">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'sshkeys' %}">SSH Keys</a>
            <a class="nav-link active" href="{% url 'projects' %}">Projects</a>
        {% endif %}
        <div style="float: right">
            {% if user.is_authenticated %}
                <i>Hi <b>{{ user.username }}</b>!</i>
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <i>You are not logged in</i>
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>Project: </h1>
    <h2>{{ project.title }}</h2>
    <table class="table">
        <tr><th>Owner</th><td>{{ project.owner }}</td></tr>
        <tr><th>Description</th><td>{{ project.description }}</td></tr>
        <tr><th>Public</th><td>{{ project.public }}</td></tr>
        <tr><th>Partners</th><td>
            <ul>
                {% for user in partners %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </td></tr>
    </table>
    {% if user == project.owner %}
        <h2>Edit project</h2>
        <h3>Add partner user</h3>
        <form action="{% url 'details' project.id %}" method="post">
            {% csrf_token %}
            <label for="user">Partner name:</label>
            <input id="user" type="text" name="user">
            <input type="submit" value="OK">
        </form>
        <h3>Delete partner user</h3>
        <table class="table">
            {% for p in partners %}
                <tr>
                    <td>{{ p.username }}</td>
                    <td><a href="{% url 'deletepartner' project.id p.id %}"><button type="button" class="btn btn-danger">Delete Partner</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <h3>Delete Project</h3>
        <a href="{% url 'deleteproject' project.id %}"><button type="button" class="btn btn-danger">Delete Project</button></a>
    {% endif %}
        <script>
            $( function() {
                var availableUsers = [
                    {% for user in users %}
                        "{{user.username}}",
                    {% endfor %}
                ];
                $( "#user" ).autocomplete({
                    source: availableUsers
                });
            });
        </script>
{% endblock %}