{% extends 'base.html' %}

{% block title %}Projektek{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <h1>"{{ project.title }}" projekt</h1>
    <table class="table">
        <tr><th>Tulajdonos</th><td>{{ project.owner }}</td></tr>
        <tr><th>Leírás</th><td id="description">markdown content</td></tr>
        <tr><th>Publikus</th><td>{{ project.public }}</td></tr>
        <tr><th>Partnerek</th><td>
            <ul>
                {% for user in partners %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </td></tr>
    </table>
    {% if user == project.owner %}
        <h2>Projekt szerkesztése</h2>
        <h3>Partner felhasználó kezelése</h3>
        <form action="{% url 'details' project.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class='list-group py-3'>
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                 </ul>
            {% endif %}
            <div class="form-group row">
                <label for="user" class="col-md-2 col-form-label">Partner felhasználói neve:</label>
                <div class="col-md-4">
                    <input class="form-control autocomplete" id="user" type="text" name="user">
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Felvétel" class="btn btn-primary">
                </div>
            </div>
        </form>
        <h3>Partner eltávolítása a projektből</h3>
        <div class="card-deck">
            {% for p in partners %}
                <div class="card">
                    <div class="card-header container-fluid">
                        <div class="row">
                            <div class="col-9">
                                <h5>{{ p.username }}</h5>
                            </div>
                            <div class="col-3">
                                <div class="float-end">
                                    <a href="{% url 'deletepartner' project.id p.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        Email: {{ p.email }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3>Projekt törlése</h3>
        <a href="{% url 'deleteproject' project.id %}"><button type="button" class="btn btn-danger">Törlés</button></a>
        <script>
            $( function() {
                var availableUsers = [
                    {% for user in users %}
                        "{{user.username}}",
                    {% endfor %}
                ];
                $( "#user" ).autocomplete({
                    source: availableUsers,
                    messages: {
                        noResults: '',
                        results: function(amount) {
                            return amount + ' találat'
                        }
                    }
                });
            });
        </script>
    {% endif %}
    <script>
            document.getElementById('description').innerHTML = marked('{{ project.description | escapejs }}');
    </script>
{% endblock %}