{% extends 'base.html' %}
{% load i18n %}

{% block title %}Projektek{% endblock %}

{% block content %}
    <h1>Projektek</h1>
    <h2>Saját</h2>
    <div id="userprojects">
        {% for p in projects %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#userproject{{ p.id }}" aria-expanded="true" aria-controls="userproject{{ p.id }}">
                        <i class="bi bi-justify"></i> {{ p.title }}
                    </button>
                    <div class="float-right">
                        <a href="{% url 'details' p.id %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></a>
                    </div>
                </div>
                <div id="userproject{{ p.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#userprojects">
                    <div class="card-body" id="usercontent{{ p.id }}">
                        markdown content
                    </div>
                </div>
            </div>
        {% empty %}
            nincs
        {% endfor %}
    </div>
    <h2>Partner projektek</h2>
    <div id="partnerprojects">
        {% for p in partnerprojects %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#partnerproject{{ p.id }}" aria-expanded="true" aria-controls="partnerproject{{ p.id }}">
                        <i class="bi bi-justify"></i>{{ p.title }}
                    </button>
                    <span class="badge bg-success" style="font-size: 100%">{{ p.owner.username }}</span>
                    <div class="float-end">
                        <a href="{% url 'details' p.id %}"><button type="button" class="btn btn-primary"><i class="bi bi-info-square"></i></button></a>
                    </div>
                </div>
                <div id="partnerproject{{ p.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#partnerprojects">
                    <div class="card-body" id="partnercontent{{ p.id }}">
                        markdown content
                    </div>
                </div>
            </div>
        {% empty %}
            nincs
        {% endfor %}
    </div>
    <script>
        {% for p in projects %}
            document.getElementById('usercontent{{ p.id }}').innerHTML = marked.parse('{{ p.description | escapejs }}');
        {% endfor %}
        {% for p in partnerprojects %}
            document.getElementById('partnercontent{{ p.id }}').innerHTML = marked.parse('{{ p.description | escapejs }}');
        {% endfor %}
        {% if form.is_bound %}
            $(window).on("load", goToId);
        {% endif %}
    </script>
{% endblock %}