{% extends 'base.html' %}
{% load i18n %}

{% block title %}Projektek{% endblock %}

{% block content %}
    <h1>Publikus projektek</h1>

    <div class="row">
        <div class="col-sm-4">
            <h2 id="pagi">Projektek</h2>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid">
                <div class="float-sm-start">

                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="container-fluid">
                <div class="float-sm-end form-inline">
                    <div class="input-group my-1">
                        <button id="btn-start" type="button"  class="btn btn-info" onclick="pagination.start()"><i class="bi bi-arrow-bar-left"></i></button>
                        <button id="btn-prev" type="button"  class="btn btn-info" onclick="pagination.prev()"><i class="bi bi-caret-left"></i></button>
                        <button id="btn-next" type="button"  class="btn btn-info" onclick="pagination.next()"><i class="bi bi-caret-right"></i></button>
                        <button id="btn-end" type="button"  class="btn btn-info" onclick="pagination.end()"><i class="bi bi-arrow-bar-right"></i></button>
                    </div>
                    <div class="input-group my-1">
                        <div class="form-outline">
                            <input type="search" id="search" placeholder="Projekt neve" class="form-control" value="{{ filter }}"  />
                        </div>
                        <button type="button"  class="btn btn-primary" onclick="search()"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        {% for p in projects %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#project{{ p.id }}" aria-expanded="true" aria-controls="project{{ p.id }}">
                        <i class="bi bi-justify"></i>{{ p.title }}
                    </button>
                    <span class="badge bg-success" style="font-size: 100%">{{ p.owner.email }}</span>
                    <div class="float-end">
                        <button type="button" class="btn btn-primary">
                            Partnerek <span class="badge bg-secondary">{{ p.users.count }}</span>
                        </button>
                    </div>
                </div>
                <div id="project{{ p.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" id="content{{ p.id }}">
                        markdown content
                    </div>
                </div>
            </div>
        {% empty %}
            nincs
        {% endfor %}
    </div>
    <script>
        {% for p in projects %}
            document.getElementById('content{{ p.id }}').innerHTML = marked.parse('{{ p.description | escapejs }}');
        {% endfor %}
        let pagination = new Pagination({{ page }}, {{ maxpage }}, "{{ filter }}", "{% url 'public_projects' %}");
        function search() {
            pagination.filter = $('#search').val();
            pagination.start();
        }
        {% if pagination and not form.is_bound %}
            $(window).on("load", goToId("#pagi"));
        {% endif %}
    </script>
{% endblock %}