{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>SSH Kulcsok</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2 id="pagi">Kulcsok</h2>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid">
                <div class="float-sm-start">
                    <div class="input-group my-1">
                        <button id="btn-start" type="button"  class="btn btn-info" onclick="pagination.start()"><i class="bi bi-arrow-bar-left"></i></button>
                        <button id="btn-prev" type="button"  class="btn btn-info" onclick="pagination.prev()"><i class="bi bi-caret-left"></i></button>
                        <button id="btn-next" type="button"  class="btn btn-info" onclick="pagination.next()"><i class="bi bi-caret-right"></i></button>
                        <button id="btn-end" type="button"  class="btn btn-info" onclick="pagination.end()"><i class="bi bi-arrow-bar-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="container-fluid">
                <div class="float-sm-end">
                    <div class="input-group my-1">
                        <div class="form-outline">
                            <input type="search" id="search" placeholder="Felhasználói név" class="form-control" value="{{ filter }}"  />
                        </div>
                        <button type="button"  class="btn btn-primary" onclick="search()"><i class="bi bi-search"></i></button>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#help"><i class="bi bi-question-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="allkeys">
        {% for key in allkeys %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#key{{ key.id }}" aria-expanded="true" aria-controls="key{{ key.id }}">
                        <i class="bi bi-justify"></i>{{ key.comment }}
                    </button>
                    <a class="badge bg-success" style="font-size: 100%" href="{% url 'edituser' key.user.id %}">{{ key.user }}</a>
                    <div class="float-end">
                             {% if key.active %}
                                 <a href="{% url 'adminactivatekey' key.id %}"><button type="button" class="btn btn-warning"><i class="bi bi-check-square"></i></button></a>
                             {% else %}
                                 <a href="{% url 'adminactivatekey' key.id %}"><button type="button" class="btn btn-success"><i class="bi bi-square"></i></button></a>
                            {% endif %}
                            <a href="{% url 'admindeletekey' key.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></a>
                    </div>
                </div>
                <div id="key{{ key.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#allkeys">
                    <div class="card-body">
                        <b>{{ key.create_date }}</b><br>
                        {% if key.active %}
                            Jelenleg aktív
                        {% else %}
                            Most nem aktív
                        {% endif %}
                        <br>
                        <br>
                        <i>{{ key.pubkey }}</i>
                    </div>
                </div>
            </div>
        {% empty %}
            nincs
        {% endfor %}
        </div>
    <h2>Új kulcs megadása</h2>
    <form action="{% url 'adminkeys' %}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="id_username">Felhasználó:</label>
            <div class="col-md-4">
                <input class="form-control" type="text" name="username" maxlength="100" required="" id="id_username" placeholder="Felhasználó">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="id_comment">Megjegyzés:</label>
            <div class="col-md-4">
                <input class="form-control" type="text" name="comment" maxlength="100" required="" id="id_comment" placeholder="Megjegyzés">
            </div>
        </div>
        <div class="form-group row">
            <label for="id_pubkey" class="col-md-2 col-form-label">Kulcs:</label>
            <div class="col-md-4">
                <textarea class="form-control" name="pubkey" cols="40" rows="10" maxlength="1000" required="" id="id_pubkey" placeholder="Publikus RSA kulcs"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                <input type="submit" value="Rendben" class="btn btn-primary">
            </div>
        </div>
    </form>
    <script>
            $( function() {
                var availableUsers = [
                    {% for user in users %}
                        "{{user.username}}",
                    {% endfor %}
                ];
                $( "#id_username" ).autocomplete({
                    minLength: 2,
                    source: availableUsers,
                    messages: {
                        noResults: '',
                        results: function(amount) {
                            return amount + ' találat'
                        }
                    }
                });
            });
            {% if form.is_bound %}
                $(window).on("load", goToId("#form"));
            {% endif %}
            let pagination = new Pagination({{ page }}, {{ maxpage }}, "{{ filter }}", "{% url 'adminkeys' %}");
            function search() {
                pagination.filter = $('#search').val();
                pagination.start();
            }
            {% if pagination %}
                $(window).on("load", goToId("#pagi"));
            {% endif %}
    </script>

    <!-- Modal -->
    <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalTitle">Használat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" style="text-align: justify">
                        Az itt beállított kulcsok minden páros percben kerülnek érvényesítésre. <b>Ezért érdemes a beállítás után 2 percet várni</b>, majd azután csatlakozással próbálkozni. Az admin oldalon a maximális kulcsszámon felül is tudunk egy-egy felhasználóhoz SSH kulcsokat rendelni.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item border-top"><button type="button" class="btn me-3"><i class="bi bi-justify"></i></button>Részletek megnyitása</li>
                        <li class="list-group-item border-top"><button type="button" class="btn btn-warning me-3"><i class="bi bi-check-square"></i></button>SSH Kulcs inaktiválása</li>
                        <li class="list-group-item border-top"><button type="button" class="btn btn-success me-3"><i class="bi bi-square"></i></button>SSH Kulcs aktiválása</li>
                        <li class="list-group-item border-top"><button type="button" class="btn btn-danger me-3"><i class="bi bi-trash"></i></button>SSH Kulcs törlése</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px"></div>
    <nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item link-danger">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">SSH Kulcsok</li>
            <li class="ml-auto link-danger"><b>ADMIN Oldal</b></li>
        </ol>
    </nav>
{% endblock %}