{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>SSH Kulcsok</h1>
    <p><b>Joker rendszernév: </b>{{ user.userdetail.systemuser }}</p>
    <h2>Megadott kulcsok</h2>
    <div id="accordion">
        {% for key in keys %}
            <div class="card my-3">
                <div class="card-header container-fluid" id="headingOne">
                    <button class="btn" data-toggle="collapse" data-target="#userkey{{ key.id }}" aria-expanded="true" aria-controls="userkey{{ key.id }}">
                        <i class="bi bi-justify"></i> {{ key.comment }}
                    </button>
                    <div class="float-right">
                        {% if key.active %}
                            <a href="{% url 'activatekey' key.id %}"><button type="button" class="btn btn-warning"><i class="bi bi-check-square"></i></button></a>
                        {% else %}
                            <a href="{% url 'activatekey' key.id %}"><button type="button" class="btn btn-success"><i class="bi bi-square"></i></button></a>
                        {% endif %}
                        <a href="{% url 'deletekey' key.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></a>
                    </div>
                </div>
                <div id="userkey{{ key.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <b>{{ key.create_date }}</b><br>
                        {{ key.pubkey }}
                    </div>
                </div>
            </div>
        {% empty %}
            empty
        {% endfor %}
    </div>
    <h2>Új kulcs megadása</h2>
    <form action="{% url 'sshkeys' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="id_comment">Megjegyzés:</label>
            <div class="col-md-4">
                <input class="form-control" type="text" name="comment" maxlength="100" required="" id="id_comment" placeholder="Megjegyzés">
            </div>
        </div>
        <div class="form-group row">
            <label for="id_pubkey" class="col-md-2 col-form-label">Kulcs:</label>
            <div class="col-md-4">
                <textarea class="form-control" name="pubkey" cols="40" rows="10" maxlength="1000" required="" id="id_pubkey" placeholder="Publikus RSA kulcs"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                <input type="submit" value="Rendben" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}