{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ userinfo.username }}{% endblock %}

{% block content %}
    <h1>{% trans 'Edit webuser' %}</h1>
    <table>
        <tr><th>{% trans 'Username' %}</th><td><span class="badge bg-success" style="font-size: 100%">{{ userinfo.username }}</span></td></tr>
        <tr><th>{% trans 'Name' %}</th><td>{{ userinfo.last_name }} {{ userinfo.first_name }}</td></tr>
        <tr><th>{% trans 'Request status' %} </th><td>{% if userinfo.userdetail.status == 'RE' %}True{% else %}False{% endif %} </td></tr>
        <tr><th>{% trans 'Superuser' %} </th><td>{{ userinfo.is_superuser }}</td></tr>
        {% if user.email %}
            <tr><th>Email: </th><td>{{ user.email }}</td></tr>
        {% endif %}
        {% if userinfo.userdetail %}
            {% if userinfo.userdetail.systemuser %}
                <tr>
                    <th>{% trans 'Associated with the following linux users: ' %}</th>
                    <td>
                            {% for sysuser in userinfo.userdetail.systemuser.all %}
                                {% if sysuser.issudo %}
                                    <span class="badge bg-danger" style="font-size: 100%">
                                        {{ sysuser }}
                                    {% if sysuser.project %}
                                        <a class="text-primary" href="{% url 'details' sysuser.project.id %}"><i class="bi bi-kanban"></i></a>
                                    {% endif %}
                                    </span>
                                {% else %}
                                    <span class="badge bg-warning text-dark"  style="font-size: 100%">
                                        {{ sysuser }}
                                    {% if sysuser.project %}
                                        <a class="text-primary" href="{% url 'details' sysuser.project.id %}"><i class="bi bi-kanban"></i></a>
                                    {% endif %}
                                    </span>
                                {% endif %}
                            {% endfor %}
                    </td>
                </tr>
                <tr><th>{% trans 'Request description' %}</th><td>
                    {% if userinfo.userdetail.description %}
                        {{ userinfo.userdetail.description }}
                    {% else %}
                        {% trans 'empty' %}
                    {% endif %}
                </td></tr>
            {% else %}
                <tr>
                    <th>{% trans 'Linux users' %}</th>
                    <td>{% trans 'empty' %}</td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
    <h3>{% trans 'Edit linux users' %}</h3>
    <div class="alert alert-danger" style="text-align: justify">
        {% trans 'By changing the user, the ssh keys will also be transferred to the new linux user! Its entry into force approx. 2 minutes. Be careful not to associate a superuser with a lesser-known web user!' %}
    </div>
    <form action="{% url 'edituser' userinfo.id%}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group row">
            <label for="id_systemuser">{% trans 'Linux users (not associated with an project user)' %}</label>
            <div class="form-group col-md-4 mb-0">
                <select class="input-group custom-select" id="id_systemuser" name="systemuser" autocomplete="off">
                        {% if not userinfo.userdetail.systemuser.all %}
                            <option value="--" selected disabled>--</option>
                        {% endif %}
                        {% for sysuser in systemusers %}
                            <option value="{{ sysuser.username }}" {% if sysuser == user.userdetail.systemuser %}selected="selected"{% endif %}>{{ sysuser.username }} {% if sysuser.issudo %}(root){% endif %}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-2">
                <input type="submit" value="Társítás" class="btn btn-primary">
                <a href="{% url 'systemuser' %}"><button type="button" class="btn btn-info">{% trans 'New linux user' %}</button></a>
            </div>
        </div>
    </form>
    <h3>{% trans 'Linux users' %}</h3>
    {% if not userinfo.userdetail.systemuser.all %}
        <p><i>{% trans 'empty' %}</i></p>
    {% else %}
    <div class="card-columns">
        {% for sysuser in userinfo.userdetail.systemuser.all %}
            <div class="card">
                <div class="card-header container-fluid">
                    <button class="btn">
                        <i class="bi bi-justify"></i>{{ sysuser }}
                    </button>
                    <div class="float-end">
                        {% if sysuser.project %}
                            <a href="{% url 'details' sysuser.project.id %}"><button type="button" class="btn btn-info"><i class="bi bi-kanban"></i></button></a>
                            <a><button type="button" class="btn btn-danger disabled"><i class="bi bi-box-arrow-right"></i></button></a>
                        {% else %}
                            <a href="{% url 'delete_sys_from_webuser' userinfo.id sysuser.id %}"><button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% trans 'Root user: ' %} {{ sysuser.issudo }}
                    {% if sysuser.project %}
                        <br> {% trans 'associated project: ' %} {{ sysuser.project.title }} <br>
                        <i>{% trans 'As long as you are the owner or member of the project, it cannot be removed.' %}</i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if userinfo.userdetail.status == 'RE' %}
        <h3>{% trans 'Activate' %}</h3>
        {% if userinfo.userdetail.systemuser.all %}
            <a href="{% url 'activateuser' userinfo.id %}"><button type="button" class="btn btn-success">Aktiválás</button></a>
        {% else %}
            <div class="alert alert-danger" style="text-align: justify">
                {% trans 'As long as it is not associated with at least one Linux user, it cannot be activated! Add it to a project as a partner, and you can also get an hpc system user account.' %}
            </div>
        {% endif %}
    {% endif %}
   <script>
    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
    {% if not userinfo.userdetail.systemuser.all %}
        selectElement('id_systemuser', '--')
    {% else %}
        selectElement('id_systemuser', '{{ userinfo.userdetail.systemuser }}')
    {% endif %}
   </script><div style="height: 100px"></div>
    <nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item link-danger">Admin</li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'users' %}">{% trans 'Webuser' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ userinfo.username }}</li>
            <li class="ml-auto link-danger"><b>{% trans 'ADMIN-SITE' %}</b></li>
        </ol>
    </nav>
{% endblock %}
