{% extends 'base.html' %}
{% load i18n %}

{% block title %}Inaktív felhasználók{% endblock %}

{% block content %}
    <h1>{% trans 'Requests' %}</h1>
    <div class="card-columns">
        {% for user in users %}
            <div class="card">
                <div class="card-header container-fluid">
                    <button class="btn">
                        <i class="bi bi-justify"></i>{{ user.username }}
                    </button>
                    <div class="float-end">
                        <a href="{% url 'edituser' user.id %}"><button type="button" class="btn btn-primary btn-sm"><i class="bi bi-info-square"></i></button></a>
                    </div>
                </div>
                <div class="card-body">
                    <p><b>{{ user.last_name }} {{ user.first_name }} / <a href="mailto:{{ user.email }}">{{ user.email }}</a></b></p>
                    <p>{{ user.userdetail.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="height: 100px"></div>
    <nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item link-danger">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Requests' %}</li>
            <li class="ml-auto link-danger"><b>{% trans 'ADMIN-SITE' %}</b></li>
        </ol>
    </nav>
{% endblock %}
