{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<h1>Hozzáférés kérése</h1>
    {% if regok %}
        <div class="alert alert-success" role="alert">
           Regisztrációs kérelem elküldve! Várjon egy admin felhasználó jóváhagyására!
        </div>
    {% endif %}
    <form action="{% url 'registration' %}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group row">
            <label for="id_description" class="col-md-2 col-form-label">Jelentkezés indoklása:</label>
            <div class="col-md-4">
                <textarea class="form-control" type="text" name="description" required="" id="id_description" placeholder="Ide írja, miért regisztrál..."></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" value="Kérelem elküldése" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}