{% extends 'base.html' %}
{% load i18n %}

{% block title %}HPC felhasználók{% endblock %}

{% block content %}
    <h2>{% trans 'New linux user' %}</h2>
    {% if cmd %}
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Bash parancs</h1>
            <p>A felhasználó hozzá lett adva a következő paranccsal:</p>
            <hr>
            <p style="font-family: Consolas, Monaco">{{ cmd }}</p>
        </div>
    {% endif %}
    <form action="{% url 'systemuser'%}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="user" class="sr-only">{% trans 'Linux user name' %}</label>
                <input class="form-control autocomplete" id="id_username" type="text" name="username" placeholder="Rendszer felhasználó neve">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="Felvétel" class="btn btn-primary">
            </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            {% trans 'Please add from command prompt via SSH on cluster master node, (new_user.sh script)' %}
        </small>
    </form>
    <h2>{% trans 'Linux users' %}</h2>
    <div class="card-columns">
        {% for sysuser in systemusers %}
            <div class="card">
                <div class="card-header">
                    <button class="btn">
                        <i class="bi bi-justify"></i>{{ sysuser.username }}
                        {% if sysuser.issudo %}
                            (root)
                        {% endif %}
                    </button>
                    <div class="float-end">
                        {% if sysuser.project %}
                            <a href="{% url 'details' sysuser.project.id %}"><button type="button" class="btn btn-info"><i class="bi bi-kanban"></i></button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% trans 'Webusers: ' %}
                    <ul class="list-group">
                        {% for webuser in sysuser.webusers.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-top">
                                {{  webuser.user.username }}
                                <span>
                                    <a href="{% url 'edituser' webuser.user.id %}?prev={{ request.path|urlencode }}">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-info-square"></i></button>
                                    </a>
                                </span>
                            </li>
                        {% empty %}
                            <i>{% trans 'empty' %}</i>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="height: 100px"></div>
    <nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item link-danger">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Linux users' %}</li>
            <li class="ml-auto link-danger"><b>{% trans 'ADMIN-SITE' %}</b></li>
        </ol>
    </nav>
{% endblock %}