{% extends 'base.html' %}

{% block title %}Rendszerfelhasználók{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Új rendszer felhasználó hozzáadása</h2>
    {% if cmd %}
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Bash parancs</h1>
            <p>A felhasználó hozzá lett adva a következő paranccsal:</p>
            <hr>
            <p style="font-family: Consolas, Monaco">{{ cmd }}</p>
        </div>
    {% endif %}
    <form action="{% url 'systemuser'%}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="user" class="sr-only">Rendszer felhasználó neve:</label>
                <input class="form-control autocomplete" id="id_username" type="text" name="username" placeholder="Rendszer felhasználó neve">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="submit" value="Felvétel" class="btn btn-primary">
            </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            A felhasználó linux user-ként hozzáadásra kerül, társítson hozzá webes felhasználót a késöbbi bejelentkezéshez.
        </small>
    </form>
    <h2>Rendszerfelhasználók</h2>
    <div class="card-columns">
        {% for user in systemusers %}
            <div class="card">
                <div class="card-header">
                    <b>{{ user.username }}</b>
                        {% if user.issudo %}
                            (root)
                        {% endif %}
                </div>
                <div class="card-body">
                    Csatolt felhasználói fiókok:
                    <ul class="list-group">
                        {% for webuser in user.webusers.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-top">
                                {{  webuser.user.username }}
                                <span><a href="{% url 'edituser' webuser.id %}"><button type="button" class="btn btn-primary btn-sm"><i class="bi bi-info-square"></i></button></a></span>
                            </li>
                        {% empty %}
                            <i>még nincs társítva</i>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<div style="height: 100px"></div>
<nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
    <ol class="breadcrumb">
        <li class="breadcrumb-item link-danger">Admin</li>
        <li class="breadcrumb-item active" aria-current="page">Rendszer felhasználók</li>
        <li class="ml-auto link-danger"><b>ADMIN Oldal</b></li>
    </ol>
</nav>