{% extends 'base.html' %}
{% load i18n %}
{% block title %}Rendszerfelhasználók{% endblock %}

{% block content %}
    <h1>{% trans 'Webusers (active)' %}</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>{% trans 'Users' %}</h2>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid">
                <div class="float-sm-start">
                    <div class="input-group my-1">
                        <button id="btn-start" type="button"  class="btn btn-info" onclick="pagination.start()"><i class="bi bi-arrow-bar-left"></i></button>
                        <button id="btn-prev" type="button"  class="btn btn-info" onclick="pagination.prev()"><i class="bi bi-caret-left"></i></button>
                        <button id="btn-next" type="button"  class="btn btn-info" onclick="pagination.next()"><i class="bi bi-caret-right"></i></button>
                        <button id="btn-end" type="button"  class="btn btn-info" onclick="pagination.end()"><i class="bi bi-arrow-bar-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="container-fluid">
                <div class="float-sm-end">
                    <div class="input-group my-1">
                        <div class="form-outline">
                            <input type="search" id="search" placeholder="{% trans 'username' %}" class="form-control" value="{{ filter }}"  />
                        </div>
                        <button type="button"  class="btn btn-primary" onclick="search()"><i class="bi bi-search"></i></button>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#help"><i class="bi bi-question-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for user in users %}
            <div class="card">
                <div class="card-header container-fluid">
                    <button class="btn">
                        <i class="bi bi-justify"></i>{{ user.username }}
                    </button>
                    <div class="float-end">
                        <a href="{% url 'edituser' user.id %}?prev={{ request.path|urlencode }}"><button type="button" class="btn btn-primary"><i class="bi bi-info-square"></i></button></a>
                    </div>
                </div>
                <div class="card-body">
                    {% trans 'Linux users' %}
                    <ul class="list-group">
                        {% for sysuser in user.userdetail.systemuser.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-top">
                                {{  sysuser.username }}
                                {% if sysuser.project %}
                                    <span>
                                        <a href="{% url 'details' sysuser.project.id %}"><button type="button" class="btn btn-info btn-sm"><i class="bi bi-kanban"></i></button></a>
                                    </span>
                                {% endif %}
                            </li>
                        {% empty %}
                            <i>{% trans 'empty' %}</i>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div style="height: 100px"></div>
    <nav style="position: fixed; bottom: 0; right: 0;" aria-label="breadcrumb" class="mt-2 col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item link-danger">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Webusers' %}</li>
            <li class="ml-auto link-danger"><b>{% trans 'ADMIN-SITE' %}</b></li>
        </ol>
    </nav>
    <script>
        let pagination = new Pagination({{ page }}, {{ maxpage }}, "{{ filter }}", "{% url 'users' %}");
        function search() {
            pagination.filter = $('#search').val();
            pagination.start();
        }
    </script>
{% endblock %}
