{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'sshkeys' %}">SSH Kulcsok</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'projects' %}">Projektek</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="{% url 'user' %}">Felhasználó</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>User details</h1>
    <table>
        <tr><th>Felhasználói név: </th><td>{{ user.username }}</td></tr>
        <tr><th>Web Admin jogok: </th><td>{{ user.is_superuser }}</td></tr>
        <tr><th>Neptun: </th><td>{{ userdetail.neptun }}</td></tr>
        {% if userdetail.systemuser %}
            <tr>
                <th>Rendszerfelhasználó: </th>
                <td>{{ userdetail.systemuser }}</td>
            </tr>
            <tr>
                <th>Root: </th>
                <td>{{ userdetail.issudo }}</td>
            </tr>
        {% else %}
            <tr>
                <th>Systemuser: </th>
                <td>Nincs rendszerfelhasználóhoz adva</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
