{% extends 'base.html' %}
{% load i18n %}
{% block title %}Projektek{% endblock %}

{% block content %}
    <h1>{% trans 'Send mails' %}</h1>
    <p>{% trans 'All users will receive the email' %}</p>
    {% if sent %}
        {% if sent == 'true' %}
            <div class="alert alert-success">
                {% trans 'Sent' %}
            </div>
        {% else %}
            <div class="alert alert-danger">
                {% tran 'error occured' %}
            </div>
        {% endif %}
    {% endif %}
    <form action="{% url 'email_to_users' %}" method="post" id="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class='list-group py-3'>
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="id_subject">{% trans 'Subject' %}</label>
            <div class="col-md-4">
                <input class="form-control" type="text" name="subject" maxlength="40" required="" id="id_subject" placeholder="{% trans 'Subject' %}">
            </div>
        </div>
        <div class="form-group row">
            <label for="id_body" class="col-md-2 col-form-label">{% trans 'Message' %}</label>
            <div class="col-md-4">
                <textarea class="form-control" name="body" cols="40" rows="10" maxlength="300" required="" id="id_body" placeholder="{% trans 'Message body' %}"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}